<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

	<Product Id='{DC4CC7D0-A22C-4404-8848-C1E3C9ABB98F}'
		Name='Little Snoop'
		Language='1033'
        Version='1.0'
        Manufacturer='Snoop on.me'
        UpgradeCode='{6D3B4D39-2A1A-4ed0-AF23-19AED6C93122}' >
        
		<Package Description='Little Snoop'
			Comments='Little Snoop is a small open source utility required by Snoop on.me service. Source code is available at www.github.com/maximk/Little-Snoop. For more information visit snoopon.me.'
			Manufacturer='Snoop on.me'
			InstallerVersion='200'
			Compressed='yes' />

        <Media Id="1" Cabinet="LittleSnoop.cab" EmbedCab="yes" /> 

		<Property Id="LITTLE_SNOOP_START_VIA_REGISTRY">1</Property>

		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='INSTALLDIR' Name='Little Snoop' />
			</Directory>
			
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Snoop on.me"/>
			</Directory>
		</Directory>
		
		<DirectoryRef Id="INSTALLDIR">
			<Component Id='LittleSnoop.exe' Guid='{F23C20A3-B1B6-4758-BC8A-F520074DB7C3}'>
				<File Id='LittleSnoop.exe' Source='Release/LittleSnoop.exe' KeyPath="yes" />
			</Component>
			
			<Component Id='FreeImage.dll' Guid='{A83C286D-492B-43b3-AF4B-D6ADEED5AF26}'>
				<File Id='FreeImage.dll' Source='FreeImage/FreeImage.dll' KeyPath="yes" />
			</Component>

			<Component Id='GotoSnoopOnMe.url' Guid='{BEF0AE4B-CD1D-4b28-AE54-F98030FF2682}'>
				<File Id='GotoSnoopOnMe.url' Source='Go to Snoop on.me.url' KeyPath="yes" />
			</Component>

			<!-- Auto-start via Registry -->
			<Component Id="Autostart" Guid="{0FA87D77-83E3-4d0d-B644-2932398B1929}">
				<RegistryValue Root="HKCU"
					Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run"
					Action="write"
					Name="Litte Snoop"
					Type="string"
					Value="[INSTALLDIR]LittleSnoop.exe" />					
				<Condition>LITTLE_SNOOP_START_VIA_REGISTRY</Condition>
			</Component>
			
			<Component Id="RegistrySettings" Guid="{3E371991-361E-4002-895E-3CEF203DFA56}">
				<RegistryValue Root="HKCU"
					Key="SOFTWARE\Snoop on.me\LittleSnoop\General"
					Action="write"
					Name="LsId"
					Type="string"
					Value="" />
				<RegistryValue Root="HKCU"
					Key="SOFTWARE\Snoop on.me\LittleSnoop\General"
					Action="write"
					Name="CaptureHost"
					Type="string"
					Value="snoopon.me" />
				<RegistryValue Root="HKCU"
					Key="SOFTWARE\Snoop on.me\LittleSnoop\General"
					Action="write"
					Name="CapturePort"
					Type="integer"
					Value="80" />
				<RegistryValue Root="HKCU"
					Key="SOFTWARE\Snoop on.me\LittleSnoop\General"
					Action="write"
					Name="CapturePath"
					Type="string"
					Value="/captures" />
				<RegistryValue Root="HKCU"
					Key="SOFTWARE\Snoop on.me\LittleSnoop\General"
					Action="write"
					Name="SettingsPath"
					Type="string"
					Value="/settings" />
				<RegistryValue Root="HKCU"
					Key="SOFTWARE\Snoop on.me\LittleSnoop\General"
					Action="write"
					Name="InstalledPath"
					Type="string"
					Value="/installed" />
				<RegistryValue Root="HKCU"
					Key="SOFTWARE\Snoop on.me\LittleSnoop\General"
					Action="write"
					Name="PortaPath"
					Type="string"
					Value="/porta" />
			</Component>

		</DirectoryRef>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcuts" Guid="{8E452DC7-B8AA-43e5-A7B3-1F24AA5F6CD9}">
				<Shortcut Id="ApplicationStartMenuShortcut" 
						Name="Little Snoop"
						Description="Little Snoop"
						Target="[INSTALLDIR]LittleSnoop.exe"
						WorkingDirectory="INSTALLDIR"/>
				<!--
				<util:InternetShortcut Id="WebsiteStartMenuShortcut"
						Name="Go to snoopon.me"
						Target="http://snoopon.me"
						Type="url" />
				-->
				<Shortcut Id="UninstallProductShortcut"
						Name="Uninstall Little Snoop"
						Target="[System64Folder]msiexec.exe"
						Arguments="/x [ProductCode]"
						Description="Uninstalls Little Snoop" />
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\Snoop on.me\LittleSnoop" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		
		<Feature Id='MyFeature' Title='My 1st Feature' Level='1'>
			<ComponentRef Id='LittleSnoop.exe' />
			<ComponentRef Id='FreeImage.dll' />
			<ComponentRef Id='GotoSnoopOnMe.url' />
						
			<ComponentRef Id='Autostart' />
			<ComponentRef Id='RegistrySettings' />

			<ComponentRef Id='ApplicationShortcuts' />
		</Feature>
		
		<WixVariable Id="WixUILicenseRtf" Value="install/License.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="install/top_banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="install/background.bmp" />
		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="After the first launch Little Snoop will display a dialog box to help you create an account with Snoop on.me or connect to the existing account." />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Little Snoop" />

		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="ExitDialog"
				Control="Finish" 
				Event="DoAction" 
				Value="LaunchApplication">
				
				WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
				
			</Publish>
		</UI>
		
		<Property Id="WixShellExecTarget" Value="[#LittleSnoop.exe]" />
		
		<CustomAction Id="LaunchApplication"
			BinaryKey="WixCA"
			DllEntry="WixShellExec"
			Impersonate="yes" />
	</Product>
</Wix>